{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Welcome In Our Store!</h1>
  <p class="lead">This is a simple shop-online application with basic functionality</p>
  <hr class="my-4">
  <p>Try me as Administrator: login - adminAdmin, pass - SymfonyShop1 </p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock %}
