{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
Admin Dashboard:
<hr>
<a href="/admin/add_product">Add New Product</a>
<br>
<a href="/admin/add_category">Add New Category</a>
<br>
<a href="/admin/unpaid">Enter Up Payments</a>
<br>
<a href="/admin/all-bills">Show All Bills</a>
{% endblock %}
